html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #ffbc21;
}

#cat {
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}

#cross {
  position: absolute;
}
#cross:before, #cross:after {
  content: "";
  display: block;
  width: 60px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
}
#cross:after {
  transform: translate(-50%, 50%) rotate(-45deg);
}
